@model Laboratorio2Progra.Dominio.Entidad



<link rel="stylesheet"
      href="https://kit.fontawesome.com/ffd11ebe0f.js" crossorigin="anonymous" />

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js>" />

<script src="https://kit.fontawesome.com/ffd11ebe0f.js" crossorigin="anonymous"></script>


<div class="container-fluid formulario" style="max-width:inherit;">
    @using (Html.BeginForm("Guardado", "Home", FormMethod.Post))
    {

        <h1  style="color: cornflowerblue" class="animate__animated animate__jello text-left "> DATOS</h1>
        <br />


            <div class="form-group col-md-8">
                <label style="color: cornflowerblue" class="animate__animated animate__backInDown">Nombre</label>
                <br />
                <i class="fas fa-user-circle"></i>
                @Html.TextBoxFor(m => m.NombrePersona)
                @Html.ValidationMessageFor(m => m.NombrePersona)
                <br />

                <label style="color: cornflowerblue" class="animate__animated animate__backInDown">Edad</label>
                <br />
                <i class="fas fa-user-plus"></i>
                @Html.TextBoxFor(m => m.EdadPersona)
                @Html.ValidationMessageFor(m => m.EdadPersona)
                <br />

                <label style="color: cornflowerblue" class="animate__animated animate__backInDown">Descripcion Persona</label>
                <br />
                <i class="fas fa-id-card"></i>
                @Html.TextBoxFor(m => m.DescripcionPersona)
                @Html.ValidationMessageFor(m => m.DescripcionPersona)
                <br />

                <br />
                <i class="fas fa-check-circle fa-2x"></i>
                <input type="submit" class="btn btn-outline-success animate__animated animate__backInDown" value="GUARDAR" />
                <button type="submit"  class="btn btn-outline-success animate_animated animate_backInDown"> @Html.ActionLink("Lista Datos", "ListaDatos")</button>
            </div>






            }
        </div>
